.title{
	display: inline-block;
	margin-left:50px;
	font-size: 30px;
	padding:20px 40px;
	background-color: #300291;
	color: #faff7f;
	box-shadow: 5px 5px 5px #10022d;
}
#chat-box{
	display: inline-block;
	width: 30%;
	margin:10px;
	margin-top:50px;
	padding:10px;
	padding-bottom: 30px;
	background-color: #EEEEEE;
}
#text-box{
	background-color: #FAFAFA;
	height:400px;
	padding:20px;
	margin-bottom:20px;
	overflow-y: auto;
	overflow-x: hidden;
}
.textBox-right{
  float: right;
  clear:right;
  background-color: #fffff;
  padding: 10px;

  border-radius: 3px;
  margin:5px 2px 10px 0px;
}
 .textBox-left{
  float: left;
  clear:left;
  background-color: #fffff;
  padding: 10px;
  border-radius: 3px;
  margin:5px 2px 10px 0px;
}


 .chatMsg{
  display: inline;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 10px 25px 10px 25px;
  font-size: 2vmin;
   border-style: solid;
  border-color: #000;
  border-top: 4px;
  border-bottom: 4px;
  color:#000000;
}

#chat-box .chat-ip{
	
}
.chat-ip textarea{
	display:inline-block;
	outline:none;
	resize: none;
	width:80%;
	height:50px;
	overflow-y: auto;
	overflow-x: hidden;
	border:none;
	border-radius: 5px;
	padding:10px;
	font-size: 16px;
}
.chat-ip #submit-btn{
	float: right;
}

.news-title h3{
	text-align: center;
	display: inline-block;
	padding:20px;
	background-color: #FFC107;
	clear: right;
	
}